:root {
    --primary-blue: #2563eb;
    --dark-blue: #1e3a8a;
    --light-blue: #dbeafe;
    --white: #ffffff;
    --text-dark: #1f2937;
    --bg-gray: #f8fafc;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    background-color: #000000;
}



nav ul {
    list-style: none;
}
 nav ul li a {
    background-color: #1e3a8a;
    color: #dbeafe;
 }

header {
    padding: 20px;
    text-align: center;
    background: rgb(6, 40, 153);
    color: var(--white);
}

p {
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
}